$base-font:         "Ubuntu", sans-serif;
$base-font-size:    14px;
$base-color:        #1E1E1E;
$accent-color:      #F9F144;
$mark-color:        #E4EDFD;
$ext-color:         #FBFBFB;
$note-color:        #999999;
$error-color:       #FF2F2F;
$img-bg-color:      #EFEFEF;
$border-color:      #EAEAEA;
$transparent-color: #f9f14480;
$shadow-color:      #00000024;
$background-color:  #ffffff;