---
title: Editpassword | Messenger.Praktikum     
styles:
  - ../styles/profile.scss
  - ../styles/form.scss
userImage:
  - ../../static/images/no-foto.png   
inputs:
  - type: password
    name: oldPassword
    label: Старый пароль
  - type: password
    name: newPassword
    label: Новый пароль
  - type: password
    name: newPasswordConfirm
    label: Повторите новый пароль
submit-btn:
  - Сохранить    
---

{{#extend "default"}}
    {{#content "main"}}
    <div class="back-column centered">
        <a href="profile.hbs" class="back-btn"></a>
    </div>
    <div class="centered full-block">
        <div class="full-block__wrapper">
            <div class="avatar-block">
                <img src="{{userImage}}">
            </div>
            <form class="form-default form-inline">
                {{#each inputs}}
                {{> input}}   
                {{/each}}    
                {{> submit}}   
            </form>
        </div>    
    </div>
    {{/content}}
{{/extend}}  