---
title: Editprofile | Messenger.Praktikum     
styles:
  - ../styles/profile.scss
  - ../styles/form.scss
userImage:
  - ../../static/images/no-foto.png   
inputs:
  - type: text
    name: email
    label: Почта
    value: ivanov@yandex.ru 
  - type: text
    name: login
    label: Логин
    value: IvanovIvan
  - type: text
    name: first_name
    label: Имя
    value: Иван 
  - type: text
    name: last_name
    label: Фамилия
    value: Иванов
  - type: text
    name: display_name
    label: Имя в чате
    value: Ваня
  - type: text
    name: phone
    label: Телефон
    value: +7(921)555-55-55
submit-btn:
  - Сохранить    
---

{{#extend "default"}}
    {{#content "main"}}
    <div class="back-column centered">
        <a href="profile.hbs" class="back-btn"></a>
    </div>
    <div class="centered full-block">
        <div class="full-block__wrapper">
            <div class="avatar-block">
                <img src="{{userImage}}">
            </div>
            <form class="form-default form-inline">
                {{#each inputs}}
                {{> input}}   
                {{/each}}    
                {{> submit}}   
            </form>
        </div>    
    </div>
    {{/content}}
{{/extend}}  