---
title: Chats | Messenger.Praktikum   
---

{{#extend "default"}}
    {{#content "main"}}
    <div>
        <h2>Здесь будет страница с чатами</h2>
        <ul>
            <li><a href="400.hbs">страница 404</a></li>
            <li><a href="500.hbs">страница 5**</a></li>
            <li><a href="login.hbs">вход</a></li>
            <li><a href="register.hbs">регистрация</a></li>
            <li><a href="profile.hbs">профиль</a></li>
            <li><a href="editprofile.hbs">редактировать профиль</a></li>
            <li><a href="chats.hbs">страница с чатами</a></li>
        </ul>   
    </div> 
    {{/content}}
{{/extend}}    