---
title: Register | Messenger.Praktikum     
styles:
  - ../styles/form.scss    
submit-btn: Зарегистрироваться
inputs:
  - type: text
    name: email
    label: Почта
  - type: text
    name: login
    label: Логин
  - type: text
    name: first_name
    label: Имя
  - type: text
    name: last_name
    label: Фамилия
  - type: text
    name: phone
    label: Телефон
  - type: password
    name: password
    label: Пароль
  - type: password
    name: password
    label: Пароль (еще раз)
---

{{#extend "default"}}
    {{#content "main"}}
        <div class="centered-block__content block-shadow">
            <form class="form-default">
                <h1>Регистрация</h1>
                {{#each inputs}}
                {{> input}}
                {{/each}}
                {{> submit}}
                <p><a href="login.hbs">Войти</a></p>
            </form>
        </div>
    {{/content}}
{{/extend}} 